<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.tuananh.restaurant.manager"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".view.activity.menu.MenuActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.settings.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.payment.PaymentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.sell.SellActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.board.BoardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.settings.drinkfood.ListDrinkFoodActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.settings.roomboard.MapRoomBoardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.settings.adddrinkfood.AddDrinkFoodActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.settings.listmenu.ListMenuActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>